<html>
  <head>
    <link rel="stylesheet" href="static/styles.css" />
    <!--script src="https://cdn.jsdelivr.net/npm/vue"></script-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div id="header" class="flex-center">
        <h2>Data for Cat Mood Prediction</h2>
      </div>
      <div id="main-display">
        <button @click="setLatLong($event, seattleLatLong)" class="preset-button">
          Seattle: {{ `${seattleLatLong[0]}, ${seattleLatLong[1]}` }}
        </button>
        <button @click="setLatLong($event, nycLatLong)" class="preset-button">
          New York City: {{ `${nycLatLong[0]}, ${nycLatLong[1]}` }}
        </button>
        <div id="input-area" class="flex-center">
          <label for="latitude">
            Latitude:
            <input
              id="latitude"
              name="latitude"
              @change="handleLatLongChange"
              type="number"
              v-model="latitude"
              step="0.0001"
            />
          </label>
          <label for="longitude">
            Longitude:
            <input
              id="longitude"
              name="longitude"
              @change="handleLatLongChange"
              type="number"
              v-model="longitude"
              step="0.0001"
            />
          </label>
          <label for="time-selector">
            At time:
            <input id="time-selector" name="time-selector" type="datetime-local" />
          </label>
          <button @click="fetchData">Update Data</button>
        </div>
        <div id="display-area" class="flex-center">
          <p>{{ message }}</p>
        </div>
      </div>
      <div id="footer" class="flex-center">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://darksky.net/poweredby/"
          >Powered by DarkSky</a
        >
      </div>
    </div>
  </body>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: 'hello world',
        latitude: '0.0000',
        longitude: '0.0000',
      },
      created: function() {
        // set constant variables by convention
        this.seattleLatLong = ['47.6097', '-122.3331'];
        this.nycLatLong = ['40.7127', '-74.0059'];
      },
      methods: {
        setLatLong(e, latLong) {
          this.latitude = latLong[0];
          this.longitude = latLong[1];
        },
        handleLatLongChange: function(event) {
          if (!isNaN(event.target.value)) {
            this[event.target.name] = parseFloat(event.target.value, 10).toFixed(4);
          }
        },
        fetchData: function() {
          fetch('api')
            .then(console.log)
            .catch(console.error);
        },
      },
    });
  </script>
</html>
